{% extends "layout.html" %} {% block title %} Homepage {% endblock %} {% block main %}

<div class="has-animation-hb"></div>

<div class="intro">
    <div class="intro-txt">
        <h1 class="inhide">

            <span class="inh-text">
            It's all
            </span>
        </h1>
        <h1 class="inhide">
            <span class="inh-text">
                in the 
            </span>
        </h1>
        <h1 class="inhide">
            <span class="inh-text accent">
                details
            </span>
        </h1>
    </div>
</div>
<div class="intro-tail"></div>
<div class="home-front-panel" id="home-front-panel">

    <div class="home-slideshow">
        <div class="home-logo">
            <div class="home-logo-font">
                <h1>
                    ANTONIO
                </h1>
            </div>
        </div>

        <div class="home-booking booking-btn" id="home-booking">
            <div class="home-booking-font">BOOK YOUR STAY</div>
        </div>
    </div>
</div>
<div class="home-second-panel">
    <div class="rooms-txt-block">
        <div class="home-rooms-font">
            <h1>ROOMS</h1>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae incidunt id modi, in adipisci aspernatur ea possimus eos? Illo quia iure doloribus consectetur? Assumenda dolore dolorem quaerat repudiandae impedit perspiciatis?</p>

        <div class="home-learn-more-btn special-margins"><a href="#">Learn More</a></div>
    </div>
    <div class="home-rooms-img">

    </div>
</div>
<div class="home-spacer"></div>

<div class="home-second-panel">
    <div class="w25" id="w25">
        <div class="home-rooms-font">
            <h1>CAFE</h1>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo asperiores, est nihil sequi debitis delectus libero enim magnam quasi eum natus. Sint in libero illo!</p>
        <div class="home-learn-more-btn special-margins">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div class="w50" id="w50"></div>

</div>
<div class="home-spacer"></div>
<div class="home-second-panel">
    <div class="w25 third-section-txt" id="third-section-txt">
        <div class="home-rooms-font">
            <h1>FIND US</h1>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo asperiores, est nihil sequi debitis delectus libero enim magnam quasi eum natus. Sint in libero illo!</p>
        <div class="home-learn-more-btn special-margins">
            <a href="#">Learn More</a>
        </div>
    </div>
    <div id="third-section-img">
        <iframe class="w50 third-section-img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.956272616296!2d22.29652321595939!3d48.61068027926397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473919a6537773fb%3A0x2db06d2ad5e1bc7c!2sAntonio!5e0!3m2!1sen!2sua!4v1645201484283!5m2!1sen!2sua ">
        </iframe>
    </div>
</div>
<div class="home-spacer"></div>
<div class="about-us-panel">
    <h1>ABOUT US</h1>
    <div class="rew-bar">
        <div class="google-reviews">
            <h3>5.0/5</h3>
            <div class="expedia-logo"></div>
        </div>
        <div class="booking-reviews-over">
            <div class="booking-reviews">
                <h3>9.4</h3>
            </div>
            <div class="booking-logo"></div>
        </div>
        <div class="google-reviews">
            <h3>4.6/5</h3>
            <div class="google-logo"></div>
        </div>
    </div>
    <div class="about-us-txt">

        <div class="flex">
            <blockquote class="tweet-this">
                <p>Lovely cozy hotel in a quiet location. Impeccable staff. Delicious food in the restaurant. Recommend!</p>
                <span>Mark</span>
            </blockquote>
            <blockquote class="tweet-this">
                <p>La atención del personal excelente, con cuidado personal de los detalles. Se lo recomiendo a todo aquel que viaje a Uzhorod.</p>
                <span>- Maria</span>
            </blockquote>
            <blockquote class="tweet-this">
                <p>Profesionální personál,vynikající kuchyně. Postel příjemná, teplo v pokoji uklizeno a voňavé, koupelna čistá. Hotel hodnotím jako lepší standart. Doporučuji.</p>
                <span>- Milan</span>
            </blockquote>
        </div>

    </div>

</div>
<div class="home-spacer"></div>

{% endblock %}