<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Work+Sans:wght@200&display=swap" rel="stylesheet">

    <title>Buy</title>
    <script src="home.js" defer></script>

</head>

<body>
    <header class="primary-header">
        <div class="what"></div>

        <nav>
            <ul id="primary-navigation" class="primary-navigation flex" data-visible="false">
                <li class="active">
                    <a href="home.html" class="test-font-letters">
                        <span aria-hidden="true" class="test-font">
                            00
                        </span> Home
                    </a>
                </li>
                <li class="active">
                    <a href="#" class="test-font-letters">
                        <span aria-hidden="true" class="test-font">01</span>Pictures
                    </a>
                </li>
                <li class="active">
                    <a href="buy.html" class="test-font-letters">
                        <span aria-hidden="true" class="test-font">02</span>Rooms
                    </a>
                </li>
                <li class="active">
                    <a href="#" class="test-font-letters">
                        <span aria-hidden="true" class="test-font">03</span>Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="empty-square">

        </div>
        <div class="ham-button">
            <div class="ham-menu" aria-controls="primary-navigation" aria-expanded="false">

            </div>
        </div>
    </header>
    <div class="main">
        <div class="container-fluid">
            <br>
            <div class="header">
                <div class="gradient">
                    <p>
                        SAMPLE
                    </p>
                    <p class="small-grad">
                        by nnnnnnn
                    </p>
                </div>

            </div>
            <div class="row" style="padding-left: 3%; padding-right: 3%;">
                <div class="col-sm" style="margin: 5px;">
                    <div class="text-box">

                        <h1>Double Superior Room</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor temporibus a mollitia blanditiis, quos, distinctio ducimus inventore quia, labore veniam unde esse. Cum repellat nesciunt unde, amet alias atque quis.</p>
                    </div>
                </div>
                <div class="col-sm">
                    <img src="imgs/2mv.jpeg" class="img-fluid rounded" alt="" style="margin: 5px;">
                </div>
            </div>
            <br>
            <div class="empty-space"></div>
            <div class="ammenities">
                <h3>Room Ammenities</h3>
                <br>
                <div class="parallel">
                    <ul>
                        <li>
                            <i class="fas fa-wifi"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-utensils"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-tv"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-mug-saucer"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-shower"></i>
                        </li>
                        <li>
                            <i class="fa-solid fa-martini-glass-citrus"></i>
                        </li>
                    </ul>
                    <ul style="text-align: left;">
                        <li>
                            <p>Free High Speed Internet Connection</p>
                        </li>
                        <li>
                            <p>Free Room Service 8:00-23:00</p>
                        </li>
                        <li>
                            <p>40' Flat-screen TV</p>
                        </li>
                        <li>
                            <p>Coffe-Machine</p>
                        </li>
                        <li>
                            <p>Shower</p>
                        </li>
                        <li>
                            <p>Mini-bar</p>
                        </li>
                    </ul>
                </div>
                <div style="display: flex; justify-content: center">
                    <div class="show">

                        <div class="arrow">
                            <div class="right-bar"></div>
                            <div class="left-bar"></div>

                        </div>
                        <div class="show-txt">
                            <p>Show</p>
                            <p style="width: 5px"></p>
                            <p class="show-txt-more"> More</p>
                            <p class="show-txt-less"> Less</p>
                        </div>

                    </div>

                </div>
            </div>

            <div id="more" class="more" data-visible="false">
                <div class="parallel">
                    <ul>
                        <li><i class="fa-solid fa-bomb"></i></li>
                        <li><i class="fa-solid fa-bomb"></i></li>
                        <li><i class="fa-solid fa-bomb"></i></li>
                        <li><i class="fa-solid fa-bomb"></i></li>

                    </ul>

                    <ul style="text-align: left;">
                        <li>
                            <p>
                                Laundry
                            </p>
                        </li>
                        <li>
                            <p>
                                Parking
                            </p>
                        </li>
                        <li>
                            <p>
                                24-hour Reception
                            </p>
                        </li>
                        <li>
                            <p>Very long long long long long line</p>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="empty-space"></div>
            <h3 class="more-images">More Images</h3>
            <div class="row">

                <div class="col-sm-4 col-md-3 zoommy" style="margin: 5px">
                    <img src="imgs/more1.jpg" class=" img-fluid rounded" alt="">
                </div>
                <div class="col-sm-4 col-md-3 zoommy-2" style="margin: 5px">
                    <img src="imgs/more2.jpg" class="img-fluid rounded" alt="">
                </div>
                <div class="col-sm-4 col-md-3 zoommy-3" style="margin: 5px">
                    <img src="imgs/more3.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>


        </div>
        <div class="empty-space"></div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d547bde897.js" crossorigin="anonymous"></script>
</body>